{% extends "base.html" %}

{%- set nav_id='#nav_diary' %}
{%- set path='diary/daddy.html' %}

{% block ogp_title %}ダディタイプの成長日記{% endblock %}
{% block ogp_description -%}ダディタイプのローズジャイアントの栽培・生育過程を紹介します。{%- endblock %}
{% block ogp_url %}{{ site['url'] }}diary/daddy.html{% endblock %}
{% block ogp_site_name %}ダディタイプの成長日記{% endblock %}

{% block header %}

    <header class="title">
      <section class="container">
        <div class="row centered">
          <div class="col-lg-8 col-lg-offset-2">
            <h2><i class="fa fa-male"></i>ダディタイプの成長日記</h2>
            <p>ダディタイプのローズジャイアントの栽培・生育過程を紹介します。</p>
          </div>
        </div><!-- row -->
      </section>
    </header><!-- header -->
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <section class="col-lg-9">
          <div class="row article">
            <h3>植え付け</h3>
            <p>
              4月25日に植え付けを行いました。
            </p>
            <div class="col-lg-6">
              <p>
                ６０ｃｍプランターへ軽石を鉢の底２～３ｃｍ敷くマンデビラ夏ものがたりの土を入れます。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/daddy/20140425/023.jpg" alt="" width="400" />
              <div>土入れ</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
                今回は1プランターに、より密度をあげる為、５株準備。<br />
                一度、植え込むポイントに置いて、全体が均一になるようにします。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/daddy/20140425/033.jpg" alt="" width="400" />
              <div>仮置き</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
                さっそく、植え込みます。<br />
                専用の土は、とても植えやすいです。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/daddy/20140425/036.jpg" alt="" width="400" />
              <div>植え付け</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
                グリーンカーテンにしたい場所へ設置します。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/daddy/20140425/084.jpg" alt="" width="400" />
              <div>植え付け完成</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
                次に支柱とネットを準備します。<br />
                支柱はしっかりと固定する為、フェンスと結束。<br />
                今回は２１０ｍｍの支柱を４本用意。<br />
                ネットの網目は１０cm位でＯＫです。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/daddy/20140425/090.jpg" alt="" width="400" />
              <div>支柱・ネット</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <h3>生育状況</h3>
            <div class="col-lg-6">
              <p>
                植えてから１０日以上経ちますが、今のところ動きは見えません。<br />
                勢いよく動き出すのは、根がしっかり張ってからかな。<br />
                もう少ししたら肥料をあげます。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/daddy/20140508.jpg" alt="" width="400" />
              <div>5月8日</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
                あれから３週間ちょっと経ちましたが、しっかりと蔓が伸びてきてます。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/daddy/20140526.jpg" alt="" width="400" />
              <div>5月26日</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
                蕾が顔を見せました。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/daddy/20140609.jpg" alt="" width="400" />
              <div>6月9日</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
                気温も上がり、蔓の成長が早くなってきました。<br />
                この頃から葉っぱにダニが付き始めるので、消毒を始めます。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/daddy/20140630.jpg" alt="" width="400" />
              <div></div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
                蔓も一気に伸び、脇芽も出てきて、だんだん密集してきました。<br />
                花もたくさん咲いてます。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/daddy/20140717.jpg" alt="" width="400" />
              <div>7月17日</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
                今日も元気に育ってます。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/daddy/20140812.jpg" alt="" width="400" />
              <div>8月12日</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
        </section>
        <aside class="col-lg-3">
          <h3>その他のタイプの成長日記</h3>
          <ul>
            <li><a href="mammy.html">マミータイプ</a></li>
            <li><a href="kids.html">キッズタイプ</a></li>
          </ul>
        </aside>
      </div>
    </div><!-- container -->
{% endblock %}