{% extends "base.html" %}

{%- set nav_id='#nav_diary' %}
{%- set path='diary/kids.html' %}

{% block ogp_title %}キッズタイプの成長日記{% endblock %}
{% block ogp_description -%}キッズタイプのアロハリーガルルビー他の栽培・生育過程を紹介します。{%- endblock %}
{% block ogp_url %}{{ site['url'] }}diary/kids.html{% endblock %}
{% block ogp_site_name %}キッズタイプの成長日記{% endblock %}

{% block header %}

    <header class="title">
      <section class="container">
        <div class="row centered">
          <div class="col-lg-8 col-lg-offset-2">
            <h2><i class="fa fa-user"></i>キッズタイプの成長日記</h2>
            <p>キッズタイプのアロハリーガルルビー他の栽培・生育過程を紹介します。</p>
          </div>
        </div><!-- row -->
      </section>
    </header><!-- header -->
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <section class="col-lg-9">
          <div class="row article">
            <h3>植え付け</h3>
            <p>
              4月15日に植え付けを行いました。
            </p>
            <div class="col-lg-6">
              <p>
                秋から冬にかけて楽しませてくれたヘデラとビオラに変わり、マンデビラ夏ものがたりキッズタイプ３種類植え込みました。
              </p>
              <h5>使用品種</h5>
              <ul>
                <li>上段・・アロハリーガルルビー</li>
                <li>中段・・リオディープレッド</li>
                <li>下段・・リオホットピンク</li>
              </ul>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/kids/20140415/00uekaemae.jpg" alt="" width="400" />
              <div>植え替え前</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
              マンデビラ夏ものがたりは湿った状態の土を嫌います。<br />
              マンデビラ夏ものがたり専用土を入れる前に、軽石等の水はけを良くするものを底から５ｃｍほど敷き水が溜まらないようにします。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/kids/20140415/02isiire.jpg" alt="" width="400" />
              <div>石入れ</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
                マンデビラにはマンデビラ夏ものがたりの土をオススメします。<br />
                （株）花ごころと生産者で開発した『マンデビラ夏ものがたりの土』は水はけが良くマンデビラの生育にとても適している専用用土です。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/kids/20140415/03tutiire.jpg" alt="" width="400" />
              <div>土入れ</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
                植え込み完了。<br />
                今日のプランターは大きいので、６株使いました。<br />
                とりあえず設置して、一段落です。
                <ul>
                  <li>上段・・アロハリーガルルビー</li>
                  <li>中段・・リオディープレッド</li>
                  <li>下段・・リオホットピンク</li>
                </ul>
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/kids/20140415/04kansei.jpg" alt="" width="400" />
              <div>完成</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <h3>生育状況</h3>
            <div class="col-lg-6">
              <p>
                植込みから9日目。大きさはあまり変わりませんが、細かな枝がしゃきっとしてきた気がします。そろそろ肥料を少しあげてみます。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/kids/20140424.jpg" alt="" width="400" />
              <div>4月24日</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
                気温も徐々に上がり、株もボリュームアップしてきました。<br />
                この頃には、植えた頃と比べてあきらかに違いが出てきます。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/kids/20140526.jpg" alt="" width="400" />
              <div>5月26日</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
                細い蔓がぴょこぴょこ伸び始めたので、支柱を立ててくれました。<br />
                全体にずいぶん大きくなり、プランターから溢れそうです。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/kids/20140623.jpg" alt="" width="400" />
              <div>6月23日</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
                さらに大きくなって、プランターからはみ出ています。<br />
                花もたくさん咲いてます。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/kids/20140717.jpg" alt="" width="400" />
              <div>7月17日</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
          <div class="row article">
            <div class="col-lg-6">
              <p>
                この頃には、大変なことになっています。<br />
                大きくなりすぎてジャングル状態です。<br />
                でも蔓はそんなに伸びていません。<br />
                心配で立てた支柱、要らなかったかも・・・<br />
                すこし伸びた蔓は剪定した方がいいかな。<br />
                来年はプランターに植える数を減らしてもいいかもね。
              </p>
            </div>
            <div class="col-lg-6 photoframe">
              <img class="img-responsive" src="{{ media_url }}img/growth_diary/kids/20140811.jpg" alt="" width="400" />
              <div>8月11日</div>
            </div><!-- col-lg-6 -->
          </div><!-- row -->
        </section>
        <aside class="col-lg-3">
          <h3>その他のタイプの成長日記</h3>
          <ul>
            <li><a href="daddy.html">ダディタイプ</a></li>
            <li><a href="mammy.html">マミータイプ</a></li>
          </ul>
        </aside>
      </div>
    </div><!-- container -->
{% endblock %}