         <div class="row">
           <div class="col-lg-12">
             <h4><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1807880362772426">2015年12月18日(金)17時21分の投稿&nbsp;&nbsp;<small class="likes"><img src="/mandevilla/media/img/icons/icon_likes.jpg" alt=""/>&nbsp;25</small></a></h4>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-4 photoframe">
               <a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1807880362772426"><img class="img-responsive photoframe" src="/mandevilla/media/img/facebook/12348097_1807880362772426_6129494416877284612.jpg" alt="" /></a>
           </div>
           <div class="col-lg-8">
             <p>『まだ咲いています』
愛知県豊明市の今日の最低気温は2℃！やっと冬らしくなってきましたが、マンデビラ夏ものがたり『キッズタイプ』は少しですが咲いています。
今年もこのプランターで2度目の冬越しに挑戦します。</p>
             <p><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1807880362772426">Facebookを見る</a></p>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-12">
             <h4><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1801224180104711">2015年12月1日(火)12時1分の投稿&nbsp;&nbsp;<small class="likes"><img src="/mandevilla/media/img/icons/icon_likes.jpg" alt=""/>&nbsp;22</small></a></h4>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-4 photoframe">
               <a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1801224180104711"><img class="img-responsive photoframe" src="/mandevilla/media/img/facebook/11013485_1801223846771411_2202079953408979355.jpg" alt="" /></a>
           </div>
           <div class="col-lg-8">
             <p>『まだまだ咲いてまーす』
今年もあと1ヶ月！愛知県豊明市Ｈさん家のキッズタイプはまだまだ咲いてまーす。</p>
             <p><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1801224180104711">Facebookを見る</a></p>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-12">
             <h4><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1801223663438096">2015年12月1日(火)11時58分の投稿&nbsp;&nbsp;<small class="likes"><img src="/mandevilla/media/img/icons/icon_likes.jpg" alt=""/>&nbsp;22</small></a></h4>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-4 photoframe">
               <a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1801223663438096"><img class="img-responsive photoframe" src="/mandevilla/media/img/facebook/12294903_1801223463438116_1706839950373021504.jpg" alt="" /></a>
           </div>
           <div class="col-lg-8">
             <p>『カットしました』
お久しぶりです。12月に入りやっと冬らしくなってきましたね！
愛知県豊明市トイレ前の『ローズジャイアント』をカットしました。今年はこのままで冬越し挑戦！</p>
             <p><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1801223663438096">Facebookを見る</a></p>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-12">
             <h4><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1787966891430440">2015年10月22日(木)15時51分の投稿&nbsp;&nbsp;<small class="likes"><img src="/mandevilla/media/img/icons/icon_likes.jpg" alt=""/>&nbsp;25</small></a></h4>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-4 photoframe">
               <a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1787966891430440"><img class="img-responsive photoframe" src="/mandevilla/media/img/facebook/10157316_1787966514763811_8991276020458228486.jpg" alt="" /></a>
           </div>
           <div class="col-lg-8">
             <p>『まだまだ元気です！』
愛知県豊明市Ｈさん家のマンデビラ夏ものがたりのキッズタイプ！この株は2014年4月に3号を植え込んでそのまま冬を越して今年で2年目！朝晩冷え込んできて花数はちょっと少ないですが、元気いっぱい咲いていまーす！</p>
             <p><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1787966891430440">Facebookを見る</a></p>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-12">
             <h4><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1787966258097170">2015年10月22日(木)15時46分の投稿&nbsp;&nbsp;<small class="likes"><img src="/mandevilla/media/img/icons/icon_likes.jpg" alt=""/>&nbsp;25</small></a></h4>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-4 photoframe">
               <a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1787966258097170"><img class="img-responsive photoframe" src="/mandevilla/media/img/facebook/11752426_1787965781430551_6280158428616371585.jpg" alt="" /></a>
           </div>
           <div class="col-lg-8">
             <p>『咲きましたー！』
愛知県豊明市トイレ前にあるローズジャイアント！春植えてある程度楽しんだ後8月20日に下からカット！2ヶ月かかりましたがやっと開花しました。やはり夏と違い朝晩が涼しいから生育がちょっと遅くなっちゃいました！</p>
             <p><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1787966258097170">Facebookを見る</a></p>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-12">
             <h4><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1787061938187602">2015年10月19日(月)16時57分の投稿&nbsp;&nbsp;<small class="likes"><img src="/mandevilla/media/img/icons/icon_likes.jpg" alt=""/>&nbsp;25</small></a></h4>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-4 photoframe">
               <a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1787061938187602"><img class="img-responsive photoframe" src="/mandevilla/media/img/facebook/12109316_1787061114854351_436858817651284650.jpg" alt="" /></a>
           </div>
           <div class="col-lg-8">
             <p>『あと少しで開花です！』
愛知県豊明市トイレ前のローズジャイアント！8月20日思い切って下からカットしましたが、やっとツボミが膨らんできました。夏に比べて生育は遅くなってしまいましたがこれからが楽しみです！</p>
             <p><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1787061938187602">Facebookを見る</a></p>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-12">
             <h4><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1782358445324618">2015年10月5日(月)16時29分の投稿&nbsp;&nbsp;<small class="likes"><img src="/mandevilla/media/img/icons/icon_likes.jpg" alt=""/>&nbsp;25</small></a></h4>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-4 photoframe">
               <a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1782358445324618"><img class="img-responsive photoframe" src="/mandevilla/media/img/facebook/12115845_1782356145324848_752096072222194907.jpg" alt="" /></a>
           </div>
           <div class="col-lg-8">
             <p>『愛・地球博記念公園でもキレイに咲いていまーす』
今日は9月12日～11月8日まで愛知県長久手市にある愛・地球博記念公園で開催中の『第32回都市緑化あいちフェア』に行ってきました！色んなお花がキレイに咲いている中、マンデビラ夏ものがたりもキレイに咲いていました！
ダディタイプはアーチで！キッズタイプはタワーを花壇の中心に植栽されていました。
皆さんも遊びに行ってみてねー！</p>
             <p><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1782358445324618">Facebookを見る</a></p>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-12">
             <h4><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1780172982209831">2015年9月28日(月)14時31分の投稿&nbsp;&nbsp;<small class="likes"><img src="/mandevilla/media/img/icons/icon_likes.jpg" alt=""/>&nbsp;25</small></a></h4>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-4 photoframe">
               <a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1780172982209831"><img class="img-responsive photoframe" src="/mandevilla/media/img/facebook/11226563_1780172982209831_7455274351224369996.jpg" alt="" /></a>
           </div>
           <div class="col-lg-8">
             <p>『元気に咲いていまーす』
愛知県名古屋市は快晴！！名古屋市緑区Ｈさん家のローズジャイアントはキレイに咲いていました！</p>
             <p><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1780172982209831">Facebookを見る</a></p>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-12">
             <h4><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1777737365786726">2015年9月21日(月)8時56分の投稿&nbsp;&nbsp;<small class="likes"><img src="/mandevilla/media/img/icons/icon_likes.jpg" alt=""/>&nbsp;25</small></a></h4>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-4 photoframe">
               <a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1777737365786726"><img class="img-responsive photoframe" src="/mandevilla/media/img/facebook/12027575_1777735632453566_2725892333035187168.jpg" alt="" /></a>
           </div>
           <div class="col-lg-8">
             <p>愛知県大府市Yさん家のマンデビラ夏ものがたり『アリスデライト』！9月中旬でもキレイに咲いています＼(^o^)／
アリスデライトは咲き始めがピンクで白へと変化！とても可愛らしいお花です(^^)</p>
             <p><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1777737365786726">Facebookを見る</a></p>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-12">
             <h4><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1775575239336272">2015年9月15日(火)16時19分の投稿&nbsp;&nbsp;<small class="likes"><img src="/mandevilla/media/img/icons/icon_likes.jpg" alt=""/>&nbsp;25</small></a></h4>
           </div>
         </div><!-- row -->
         <div class="row">
           <div class="col-lg-4 photoframe">
               <a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1775575239336272"><img class="img-responsive photoframe" src="/mandevilla/media/img/facebook/12033130_1775575092669620_8744198084904416397.jpg" alt="" /></a>
           </div>
           <div class="col-lg-8">
             <p>『ツボミが見えました！』
愛知県豊明市トイレ前にあるローズジャイアント！8月20日に思い切ってカットして約1ヶ月！ツボミが見えてきました！</p>
             <p><a href="http://www.facebook.com/mandevilla.natsumonogatari/posts/1775575239336272">Facebookを見る</a></p>
           </div>
         </div><!-- row -->
