{% extends "base.html" %}

{%- set nav_id='#nav_varieties' %}
{%- set path='varieties/daddy.html' %}

{% block ogp_title %}ダディタイプ取扱商品リスト{% endblock %}
{% block ogp_description -%}つる性のダディタイプの商品ラインナップです。{%- endblock %}
{% block ogp_url %}{{ site['url'] }}varieties/daddy.html{% endblock %}
{% block ogp_site_name %}ダディタイプ{% endblock %}

{% block header %}
    <header class="title">
      <section class="container">
        <div class="row centered">
          <div class="col-lg-8 col-lg-offset-2">
            <h2><i class="fa fa-male"></i>ダディタイプ</h2>
            <p>つる性のダディタイプの商品ラインナップです。</p>
          </div>
        </div><!-- row -->
      </section>
    </header><!-- header -->
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- variety description -->
          <section id="variety-description">
            <div class="row article">
              <h3 class="centered">ぐんぐん伸びる「ダディタイプ」</h3>
              <div class="col-lg-2">
                <img class="img-responsive" src="{{ media_url }}img/daddy_character.jpg" alt="" />
              </div>
              <div class="col-lg-6">
<p>ダディタイプは、つる性でグングン伸びるタイプです。夏の暑さにとても強く、生育旺盛なつるを伸ばすので、お庭のアーチやフェンスに適しています。<br />
花は大きく、直径10cmを超える品種もあり、連続開花性に優れていますので、次々に花を咲かせ、お日様の下で、秋口まで楽しむことができます。</p>          
              </div>
              <div class="col-lg-4 photoframe">
                <img class="img-responsive" src="{{ media_url }}img/IMG_8297.jpg" alt="" />
              </div>
            </div><!-- row article -->
          </section><!-- variety description -->
          <!-- lineup -->
          <section id="lineup" class="container">
            <h3 class="centered">ラインナップ</h3>
            <div class="row">
              <div class="col-lg-12">
        <ul class="lineup-items">
          <li class="lineup-item ">
            <h5><i class="fa fa-male daddy"></i>ローズジャイアント</h5>
            <img class="photo" src="{{ media_url }}img/photos/01.jpg" alt=""/>
            <ul>
              <li><img src="{{ media_url }}img/icons/b0.png" alt="花の色" />濃ピンク</li>
              <li><img src="{{ media_url }}img/icons/b1.png" alt="花径" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b2.png" alt="成長度" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b3.png" alt="強健度" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b5.png" alt="仕立て" />アーチ・フェンス</li>
            </ul>
          </li>
          <li class="lineup-item ">
            <h5><i class="fa fa-male daddy"></i>ホワイトデライト</h5>
            <img class="photo" src="{{ media_url }}img/photos/03.jpg" alt=""/>
            <ul>
              <li><img src="{{ media_url }}img/icons/b0.png" alt="花の色" />白(薄ピンク)</li>
              <li><img src="{{ media_url }}img/icons/b1.png" alt="花径" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b2.png" alt="成長度" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b3.png" alt="強健度" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b5.png" alt="仕立て" />アーチ・フェンス</li>
            </ul>
          </li>
          <li class="lineup-item ">
            <h5><i class="fa fa-male daddy"></i>ルビースター</h5>
            <img class="photo"  src="{{ media_url }}img/photos/04.jpg" alt=""/>
            <ul>
              <li><img src="{{ media_url }}img/icons/b0.png" alt="花の色" />濃赤</li>
              <li><img src="{{ media_url }}img/icons/b1.png" alt="花径" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b2.png" alt="成長度" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b3.png" alt="強健度" />&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b5.png" alt="仕立て" />アーチ・フェンス</li>
            </ul>
          </li>
          <li class="lineup-item ">
            <h5><i class="fa fa-male daddy"></i>アリスデライト</h5>
            <img class="photo" src="{{ media_url }}img/photos/05.jpg" alt=""/>
            <ul>
              <li><img src="{{ media_url }}img/icons/b0.png" alt="花の色" />淡ピンク</li>
              <li><img src="{{ media_url }}img/icons/b1.png" alt="花径" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b2.png" alt="成長度" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b3.png" alt="強健度" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b5.png" alt="仕立て" />フェンス</li>
            </ul>
          </li>
          <li class="lineup-item ">
            <h5><i class="fa fa-male daddy"></i>レッドインパクト</h5>
            <img class="photo" src="{{ media_url }}img/photos/07.jpg" alt=""/>
            <ul>
              <li><img src="{{ media_url }}img/icons/b0.png" alt="花の色" />赤</li>
              <li><img src="{{ media_url }}img/icons/b1.png" alt="花径" />&#9829;&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b2.png" alt="成長度" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b3.png" alt="強健度" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b5.png" alt="仕立て" />アーチ・フェンス</li>
            </ul>
          </li>
          <li class="lineup-item ">
            <h5><i class="fa fa-male daddy"></i>ブライドカスケード</h5>
            <img class="photo" src="{{ media_url }}img/photos/08.jpg" alt=""/>
            <ul>
              <li><img src="{{ media_url }}img/icons/b0.png" alt="花の色" />白</li>
              <li><img src="{{ media_url }}img/icons/b1.png" alt="花径" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b2.png" alt="成長度" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b3.png" alt="強健度" />&#9829;&#9829;&#9829;</li>
              <li><img src="{{ media_url }}img/icons/b5.png" alt="仕立て" />アーチ・フェンス</li>
            </ul>
          </li>
        </ul>
              </div>
            </div><!-- row -->
          </section><!-- lineup -->
        </div>
      </div>
    </div>

    <!-- other types -->
    <section class="container">
      <div class="row centered">
        <h3>他のタイプ</h3>
        <div class="col-lg-4">
          <div>
            <a href="{{ base_url }}varieties/index.html"><img class="img-responsive" src="{{ media_url }}img/all.jpg" alt="" /></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div>
            <a href="{{ base_url }}varieties/mammy.html"><img class="img-responsive" src="{{ media_url }}img/mammy.jpg" alt="" /></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div>
            <a href="{{ base_url }}varieties/kids.html"><img class="img-responsive" src="{{ media_url }}img/kids.jpg" alt="" /></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div>
            <a href="{{ base_url }}varieties/soil.html"><img class="img-responsive" src="{{ media_url }}" alt="" /></a>
          </div>
        </div>
      </div><!-- row -->
    </section><!-- other types -->        
{% endblock %}

{% block extra_script %}
    <script src="{{ media_url }}js/isotope.pkgd.min.js"></script>
    <script>
      $(window).load(function() {
        var $container = $('.lineup-items');
        $container.isotope({
          filter: '*',
          animationOptions: {
            duration: 750,
            easing: 'linear',
            queue: false
          }
        });
 
        $('.lineup-filter a').click(function() {
          $('.lineup-filter .active').removeClass('active');
          $(this).addClass('active');
 
          var selector = $(this).attr('data-filter');
          $container.isotope({
            filter: selector,
            animationOptions: {
              duration: 750,
              easing: 'linear',
              queue: false
            }
          });
          return false;
        }); 
      });   
    </script>
{% endblock %}